.header {
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    position: relative;
}

.logo {
    width: 200px;
    height: 184px;
    cursor: pointer;
}
.logo:hover {
    /* width: 227px;
    height: 124px;
    transition-duration: .5s; */
}
.cart {
    width: 39px;
    height: 38px;
    /* cursor: pointer; */
}
.cart-products {
    position: absolute !important;
    top: 82px;
    right: -18px;
    background-color: #fff;
    padding: 0 18px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    display: none;

    min-width: 290px;
}
.cart:hover {
    margin-bottom: 16px;
    transition-duration: 0.5s;
}
.cart:hover {
    margin-bottom: 16px;
    transition-duration: 0.5s;
}
/*end header*/
.products {
    /* margin-top: 60px; */
    padding-top: 170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.carts {
    max-width: 400px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    padding-bottom: 24px;
    margin-bottom: 40px;
}
.carts .img1 {
    width: 50%;
}
.carts p {
    font-family: system-ui;
    font-weight: 500;
    padding: 0 20px;
    margin-bottom: 24px;
}
.carts div p {
    position: absolute;
    top: 0;
    right: 0px;
    background-color: red;
    color: #fff;
    padding: 2px 7px 4px 21px;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}
.carts div {
    position: relative;
}
.carts a {
    font-family: system-ui;
    text-decoration: none;
    background: red;
    padding: 9px 23px;
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
}

.carts a:hover {
    background: #fff;
    color: red;
    border: solid 2px red;
    transition-duration: 0.3s;
}
/* .carts a:hover + .cart-products{
    display: block;
} */
/*float cart*/
.cart-products .item img {
    width: 115px;
}

.cart-products .item {
    display: flex;
    align-items: center;
    border-bottom: solid 2px red;
}
.cart-products .item .item-content {
    margin: 0 19px;
    width: 201px;
}
.cart-products .item .item-content h5 {
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    font-family: system-ui;
}
.cart-products .item .item-content h6 {
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    font-family: system-ui;
}
.cart-products .item span {
    background-color: red;
    padding: 0px 5px;
    border-radius: 50%;
    color: #fff;
    font-family: system-ui;
    cursor: pointer;
}
.cart-products h3 {
    margin-bottom: 0;
}
.cart-products .item .item-content h5.cart-price {
    font-weight: 700;
}

/*stye to btn close*/
p.close-btn {
    top: -4px;
    right: 6px;
    cursor: pointer;
    color: #000;
}

body {
    background-color: #ebe9e9;
    margin: 20px;
    padding: 20px;
}

h4 {
    font-size: 16px;
    font-weight: 700;
    background-color: black;
}

@media (min-width: 750px) {
    header {
        text-align: left;
    }
}

.borrar-platillo {
    background-color: #fbaf32;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: rgb(71, 71, 71);
    font-weight: bold;
}

/*  */

.hero {
    background-image: url(https://s1.eestatic.com/2020/04/28/imprescindibles/marcas_destacadas-branded_content-amazon_485962710_151110251_1706x960.jpg);
    height: 500px;
    border-radius: 20px;
}

.submenu {
    position: relative;
}
.submenu #carrito {
    display: none;
}
.submenu:hover #carrito {
    display: block;
    color: white;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1;
    background: #17181b;
    padding: 20px;
}
.vacio {
    padding: 10px;
    background-color: black;
    text-align: center;
    border-radius: 10px;
    box-shadow: 3px 3px 0 0 white;
    color: yellow;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 20px;
}
.button {
    background-color: yellow;
    color: rgb(255, 255, 255);
}
.contenido-hero {
    margin-top: 80px;
    color: white;
    position: absolute;
}
.contenido-hero form {
    position: relative;
    margin-bottom: 0;
    position: absolute;
}
.contenido-hero form #buscador {
    height: 50px;
    margin-bottom: 0;
}
.contenido-hero form .submit-buscador {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0;
    display: block;
    text-indent: -9999px;
    width: 50px;
    background-image: url(../img/lupa.png);
    background-position: right center;
    background-repeat: no-repeat;
    border: none;
}

.barra {
    padding: 20px 0;
    background: yellow;
    background: -webkit-linear-gradient(
        left,
        rgb(240, 251, 77) 10%,
        #121411 100%
    );
}
.barra p {
    margin: 0;
    color: white;
}
.icono {
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 60px;
    background-size: 30px;
    margin-bottom: 40px;
    text-align: center;
}
@media (min-width: 750px) {
    .icono {
        margin-bottom: 0;
    }
}

.icono1 {
    background-image: url(https://static.vecteezy.com/system/resources/previews/000/583/775/non_2x/t-shirt-on-clothes-hanger-icon-vector.jpg);
}

.icono2 {
    background-image: url(https://i.pinimg.com/originals/b9/d5/f9/b9d5f90d75ddd47ef3284852bbeb866f.jpg);
}
.icono3 {
    background-image: url(https://static.vecteezy.com/system/resources/previews/002/586/394/non_2x/shirt-clothes-line-style-icon-free-vector.jpg);
}

#lista-platillos .row {
    margin-bottom: 20px;
}
.agregar-carrito {
    margin: 10px 0;
}
.card {
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.05);
    background: black;
}
@media (min-width: 550px) {
    .card {
        text-align: left;
    }
}
.info-card {
    padding: 10px 20px;
    color: white;
}
.info-card p,
.card h4 {
    margin-bottom: 5px;
}
.info-card .precio {
    text-decoration: line-through;
    font-size: 18px;
    margin-top: 10px;
}
.info-card .precio span {
    font-weight: 700;
    font-size: 22px;
}

.footer {
    margin-top: 40px;
    padding-top: 40px;
    background: #1d2124;
    border-top: black double 5px;
    border-color: yellow;
}

.footer .menu a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
}

.textColor {
    color: antiquewhite;
}

.name {
    padding: 20px;
    color: yellow;
    font-size: 10rem;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    border-radius: 20px;
    text-align: center;
    position: relative;
    right: 155px;
    bottom: 80px;
}

.name__title {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 30px;
    color: yellow;
    position: relative;
    right: 155px;
    bottom: 80px;
    margin: auto;
}

.bar {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 20px;
}

#logo {
    position: relative;
    cursor: pointer;
    max-width: 300px;
    max-height: 300px;
}

.imgClothes {
    width: 282px;
    height: 250px;
}

.format {
    width: 100vh;
    padding: 10px;
}

.format__body {
    width: 100vh;
}

#map {
    height: 380px;
    width: 380px;
    border-radius: 300px;
}
.name__title {
    text-align: center;
    color: black;
}

.aBar {
    font-size: 40px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    padding: 0px;
    margin: 0px;
}

.liBar {
    font-size: 30px;
    padding: 10px;
    font-family: monospace;
}
